*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 20px 10%;
    height: 13vh;
}


nav ul {
    display: flex;
    align-items: center;
    /* justify-content: center; */

}


nav ul li {
    list-style: none;
    margin-right:10% ;
    font-weight: 600;
}
nav ul li a {
    /* align-items: center;
    justify-content: center; */
    list-style: none;
    text-decoration: none;
    color: rgb(8, 8, 8);
    justify-content: center;
    align-items: center;
    
    
}

nav ul li a:hover {
    cursor: pointer;
    color: #3b855b;
    text-decoration: underline;
    font-weight: 800;
}

nav ul li img {
    width: 100px;
    
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section {
   
    padding-left: 7%;
    width: 50%;
}

.left-section h1 {
    font-size: 60px;
    padding: 0%;
}

.left-section p {
    margin: 5% 0;
}

.left-section button {
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    
}

.left-section button:hover {
    cursor: pointer;
    color: #3b855b;
    background-color: white;
}

.right-section {
    /* width: 70%; */
    padding: 7%;
}

.right-section div img {
    width: 30%;
}

.right-section img {
    width: 61%;
    padding: 1%;
}