*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    
}

body {
    background-color: #f0f4f5;
}

/* header section */
.header {
    padding: 20px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */
.header img{
    
    size: 50px;
    width: 130px;
    /* padding-left: 100px; */
    size: fixed;
}


/* list */
.list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-right: 12%;
}

.list li a {
    text-decoration: none;
    color: #000000 ;
    font-weight: 600;
}

.list li a:hover {
    color: rgb(160, 160, 240);
}

/* About us section */
.aboutUs {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 150px;
    margin-bottom: 50px;
}

/* heading */
.heading {
    margin-bottom: 23px; 
    color: #2bbd82;
}

.content {
    font-size: 17px;
    font-weight: 500;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    text-align: center;
    position: relative;
    top: 150px;
}

.box-1{

    /* padding: 20px 50px; */
    height: 100px;
    width: 200px;
    background-color: #f0f4f5;
    border-radius: 10px;
    position: relative;
    left: 150px;
    box-shadow: 0 0 10px black;
}
.box-1 p {
    text-align: center;
    position: relative;
    top: 25px;
    font-size: 20px;
    font-weight: 600;
}

.box-2 {
    /* padding: 20px 50px; */
    height: 100px;
    width: 200px;
    background-color: #f0f4f5;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.box-2 p {
    text-align: center;
    position: relative;
    top: 25px;
    font-size: 20px;
    font-weight: 600;
}

.box-3 {
    /* padding: 20px 50px; */
    height: 100px;
    width: 200px;
    background-color: #f0f4f5;
    border-radius: 10px;
    position: relative;
    left: -150px;
    box-shadow: 0 0 10px black;
}

/* .box-3:hover {
    cursor: pointer;l̥ō
    box-shadow: 0 0 10px black;
} */
.box-3 p {
    text-align: center;
    position: relative;
    top: 25px;
    font-size: 20px;
    font-weight: 600;
}

.box span {
    color: #2bbd82;
}